header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-image: url('../images/skulls.png');
  
}

h2 {
  color: pink;
}

